<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>领奖记录</title>
<script src="../../js/jquery-1.12.3.min.js"></script>
</head>
<body>
<div align="center">
	<a href="javascript:;" onClick="javascript:history.back(-1);">
		<img src="../../img/weixin_img/back.png" border="0" title="返回上一页">
	</a>
	<span>领奖记录</span>
</div>
<div>
领取奖励总次数：<input type="text" id="number">
<table>
	<tr>
		<td>活动名称</td>
		<td></td>
	</tr>
	<tr>
		<td>活动举办人：</td>
		<td></td>
	</tr>
	<tr>
		<td>兑奖人：</td>
		<td></td>
	</tr>
	<tr>
		<td>领奖时间：</td>
		<td></td>
	</tr>
</table>
</div>
</body>
</html>