<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>投诉</title>
<script src="../../js/jquery-1.12.3.min.js"></script>
</head>
<body>
<div align="center">
	<a href="javascript:;" onClick="javascript:history.back(-1);">
		<img src="../../img/weixin_img/back.png" border="0" title="返回上一页">
	</a>
	<span>投诉</span>
</div>
<div>
<table>
	<tr>
		<td>活动名称：</td>
		<td></td>
	</tr>
	<tr>
		<td>活动编号：</td>
		<td></td>
	</tr>
	<tr>
		<td>投诉理由：</td>
		<td></td>
	</tr>
	<tr>
		<td>投诉凭证：</td>
		<td></td>
	</tr>
	<tr><td><input type="button">提交投诉</td></tr>
</table>
</div>
</body>
</html>