<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>投诉记录</title>
<script src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/personalCenter/complaintRecord.js"></script>
<style type="text/css">
img{
		width: 50px;
		height: 50px;
	}
</style>
</head>
<body>
<div align="center">
	<a href="javascript:;" onClick="javascript:history.back(-1);">
		<img src="../../img/weixin_img/back.png" border="0" title="返回上一页">
	</a>
	<span>投诉记录</span>
</div>
<div id="divData">
	投诉总次数：<input type="text" id="count">
	<table border="0" cellspacing="0" cellpadding="0" >
		<!-- 数据拼接 -->
	</table>
</div>
</body>
</html>