<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.MsgPushActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyx.model.MsgPushActivity">
        <result column="activity_id" property="activityId" />
        <result column="activity_name" property="activityName" />
        <result column="activity_initiate_user_id" property="activityInitiateUserId" />
        <result column="activity_rule_id" property="activityRuleId" />
        <result column="reward_content" property="rewardContent" />
        <result column="reward_receive_method_id" property="rewardReceiveMethodId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="isEnable" property="isEnable" />
        <result column="isVerified" property="isVerified" />
        
        <result column="activityRuleName" property="activityRuleName" jdbcType="VARCHAR" />
    	<result column="receivingWayName" property="receivingWayName" jdbcType="VARCHAR" />
    	<result column="userName" property="userName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
	    activity_id,activity_name,activity_initiate_user_id,activity_rule_id
	    ,reward_content,reward_receive_method_id,start_time,end_time
	    ,create_time,update_time,update_user_id,isEnable,isVerified
    </sql>
    <!-- 获取UUID -->
	<select id="getUUID" resultType="String">
		SELECT UUID() ;
	</select>

<!-- 我的发布：根据用户编号user_id（msg_push_user）即activity_initiate_user_id（msg_push_activity）查询数据
isEnable：1 启用状态，start_time < new < end_time 截至时间大于现在时间     大于&gt;   小于&lt; -->
	<select id="selectActivityById"  parameterType="String" resultMap="BaseResultMap">
	 	select 
	 		a.activity_id,a.activity_name,a.activity_initiate_user_id
	 		,a.activity_rule_id,a.reward_content,a.reward_receive_method_id
		 	,DATE_FORMAT(a.start_time,'%Y-%m-%d %H:%i:%s') start_time 
		 	,DATE_FORMAT(a.end_time,'%Y-%m-%d %H:%i:%s') end_time
			,a.isEnable,a.isVerified
			,r.activity_rule_name activityRuleName
			,u.user_name userName
			,w.receiving_way_name receivingWayName
        from 
        	msg_push_activity a,msg_push_activity_rule r, 
        	msg_push_user u,msg_push_award_receiving_way w
        where 
        	a.activity_rule_id = r.activity_rule_id
        	and a.activity_initiate_user_id = u.user_id
        	and a.reward_receive_method_id = w.receiving_way_id
        	and a.activity_initiate_user_id=#{activityInitiateUserId,jdbcType=VARCHAR} 
        	and a.isEnable=1
        	and DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s') &gt;  DATE_FORMAT(a.start_time,'%Y-%m-%d %h:%i:%s')
        	and DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s') &lt;  DATE_FORMAT(a.end_time,'%Y-%m-%d %h:%i:%s')
	
	 </select>
	<!-- 信息发布：添加申请 -->
	<insert id="addActivity">
	  insert into msg_push_activity 
	  (activity_id,activity_name,activity_initiate_user_id
	  ,activity_rule_id,reward_content,reward_receive_method_id
	  ,start_time,end_time,create_time,isEnable,isVerified)
	  values 
	  (#{activityId},#{activityName},#{activityInitiateUserId},#{activityRuleId}
	  ,#{rewardContent},#{rewardReceiveMethodId},#{startTime},#{endTime}
	  ,now(),'1','1')
	</insert>
</mapper>
