<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.MsgPushMembershipLevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyx.model.MsgPushMembershipLevel">
        <result column="membership_level_id" property="membershipLevelId" />
        <result column="membership_level_name" property="membershipLevelName" />
        <result column="recharge_amount" property="rechargeAmount" />
        <result column="create_user_id" property="createUserId" />
        <result column="update_user_id" property="updateUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="isEnable" property="isEnable" />
        
        <result column="userId" property="userId" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
    membership_level_id,membership_level_name,recharge_amount,create_user_id,
    update_user_id,create_time,update_time,isEnable
    </sql>
    <!-- 根据会员编号查询会员等级 -->
    <select id="selLevelById" parameterType="String" resultType="com.zyx.model.MsgPushMembershipLevel">
	    select 
	    <include refid="Base_Column_List" />
		from 
			msg_push_membership_level l 
		where 
			membership_level_id=#{membershipLevelId,jdbcType=VARCHAR} 
    </select>
	<!-- 根据用户ID查询会员等级编号ID -->
	<select id="getIdByUserId" parameterType="String" resultType="String">
		select  
			membership_level_id
		from 
			msg_push_user_membership_relationship
		where
			user_id =#{userId,jdbcType=VARCHAR} 
	</select>
	<!-- 关联查询：根据用户ID查询会员等级 -->
	<select id="selLevelByUserId" parameterType="String" resultType="com.zyx.model.MsgPushMembershipLevel">
	    select 
	    	<include refid="Base_Column_List" />
		from 
			msg_push_membership_level l 
		where 
			membership_level_id=(
			select  
				membership_level_id 
			from 
				msg_push_user_membership_relationship 
			where 
				user_id =#{userId,jdbcType=VARCHAR}
			) 
    </select>
    
    <!-- 关联查询：根据openId 查询会员等级 -->
	<select id="selLevelByOpenId" parameterType="String" resultType="com.zyx.model.MsgPushMembershipLevel">
	    select 
	    	<include refid="Base_Column_List" />
		from 
			msg_push_membership_level l 
		where 
			membership_level_id=(
			select  
				membership_level_id 
			from 
				msg_push_user_membership_relationship 
			where 
				user_id =(
					select user_id from msg_push_user_wx_relationship
					where
					openId = #{openId,jdbcType=VARCHAR}
				)
			) 
    </select>
</mapper>
