<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.MsgPushUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyx.model.MsgPushUser">
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="user_pwd" property="userPwd" />
        <result column="phone_num" property="phoneNum" />
        <result column="user_sex" property="userSex" />
        <result column="user_email" property="userEmail" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="isDelete" property="isDelete" />
    </resultMap>
	<sql id="Base_Column_List">
      user_id,user_name,user_pwd,phone_num,user_sex,user_email
      ,create_time,update_time,isDelete
    </sql>
    
    <select id="selectById" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from msg_push_user
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    
    <!-- 根据参数Map（用户名，密码，角色）查询用户 -->
     <select id="queryUserByMap" parameterMap="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM msg_push_user u
        ,msg_push_role r 
        WHERE u.user_id=r.create_user_id 
        AND u.user_name=#{userName,jdbcType=VARCHAR} 
        AND u.user_pwd=#{userPwd,jdbcType=VARCHAR}
        AND r.msg_push_role_name=#{msgPushRoleName,jdbcType=VARCHAR}
    </select>
    
    <!-- 根据参数name查询用户 -->
     <select id="queryUserByName" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM msg_push_user u
        WHERE u.user_name=#{userName,jdbcType=VARCHAR}
    </select>
</mapper>
