<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.MsgPushUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyx.model.MsgPushUser">
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="user_pwd" property="userPwd" />
        <result column="phone_num" property="phoneNum" />
        <result column="user_sex" property="userSex" />
        <result column="user_email" property="userEmail" />
        <result column="user_address" property="userAddress" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="isDelete" property="isDelete" />
        
        <result column="openId" property="openId" jdbcType="VARCHAR"/>
        <result column="membershipLevelName" property="membershipLevelName" jdbcType="VARCHAR"/>
    </resultMap>
	<sql id="Base_Column_List">
      user_id,user_name,user_pwd,phone_num,user_sex,user_email,user_address
      ,create_time,update_time,isDelete
    </sql>
    
    <select id="selectById" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from msg_push_user
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    
    <!-- 根据参数Map（用户名，密码，角色）查询用户 -->
     <select id="queryUserByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
       user_id,user_name,user_pwd,phone_num,user_sex,user_email,user_address
      ,u.create_time,u.update_time,isDelete
        FROM msg_push_user u
        ,msg_push_role r 
        WHERE u.user_id=r.create_user_id 
        AND u.user_name=#{userName,jdbcType=VARCHAR} 
        AND u.user_pwd=#{userPwd,jdbcType=VARCHAR}
        AND r.msg_push_role_name=#{msgPushRoleName,jdbcType=VARCHAR}
    </select>
    
    <!-- 根据参数name查询用户 -->
     <select id="queryUserByName" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        FROM msg_push_user u
        WHERE u.user_name=#{userName,jdbcType=VARCHAR}
    </select>
    
  	<!--   关联查询：根据openId 查询个人信息 -->
  	<select id="getUserByOpenId" parameterType="String" resultType="com.zyx.model.MsgPushUser">
  		select 
  		 	u.user_id userId,u.user_name userName
  		 	,u.user_pwd userPwd,u.phone_num phoneNum
  		 	,u.user_sex userSex,u.user_email userEmail
  		 	,u.user_address userAddress
      		,DATE_FORMAT(u.create_time,'%Y-%m-%d') createTime 
		 	,DATE_FORMAT(u.update_time,'%Y-%m-%d') updateTime
      		,u.isDelete isDelete
      		,l.membership_level_name membershipLevelName
  		 from 
  		 	msg_push_user u ,msg_push_membership_level l,msg_push_user_membership_relationship r
 		 where 
         u.user_id =r.user_id
         and l.membership_level_id = r.membership_level_id
         and
 		 	u.user_id=(           
			select 
				user_id 
			from 
				msg_push_user_wx_relationship 
			where 
				openId=#{openId,jdbcType=VARCHAR}
			)
  	</select>
  	<!-- 更新个人信息 -->
  	<update id="updateUserById" parameterType="com.zyx.model.MsgPushUser">
  	update msg_push_user
  	<set>
        <if test="userName != null">
        user_name=#{userName,jdbcType=VARCHAR},
        </if>
        <if test="phoneNum != null">
        phone_num=#{phoneNum,jdbcType=VARCHAR},
        </if>
        <if test="userSex != null">
        user_sex=#{userSex,jdbcType=VARCHAR},
        </if>
        <if test="userEmail != null">
        user_email=#{userEmail,jdbcType=VARCHAR},
        </if>
        <if test="userAddress != null">
        user_address=#{userAddress,jdbcType=VARCHAR},
        </if>
        update_time=now()
      </set>
        where user_id=#{userId,jdbcType=VARCHAR}
  	</update>
  
</mapper>
