<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.dao.MsgPushExtendWayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zyx.model.MsgPushExtendWay">
        <result column="extend_way_id" property="extendWayId" />
        <result column="extend_way_name" property="extendWayName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="isEnable" property="isEnable" />
    </resultMap>

</mapper>
