<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>信息审核</title>
<script src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/weixin/informationAudit.js"></script>
<style type="text/css">
body{ text-align:left} 
.div{ margin:0 auto; width:400px; height:100px; border:1px } 
</style>

</head>
<body>
	<div align="center"><span>待审核信息列表</span></div>

	<input type="hidden" id="sign" >
	<!-- 管理员身份可审核数据 -->
	<div class="div" id="divData">
		 <table border="1" cellspacing="0" cellpadding="0" >
			 <tbody id='tbody'>
				 <!-- 循环开始 -->
				  <!-- 循环结束 -->
			  </tbody>
		 </table>
	 </div>
</body>
</html>