<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>信息发布</title>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.0.js"></script>
	<script src="../../js/jquery-1.12.3.min.js"></script>
	 <script src="../../js/mobiscroll/mobiscroll.custom-2.6.2.min.js"></script>
	<script src="../../js/weixin/informationRelease.js"></script>
	<!-- 样式 -->
	<link href="../../css/wixin/informationRelease.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="../../css/mobiscroll/mobiscroll.custom-2.6.2.min.css">
	
</head>
<body>
	<!-- <div>信息发布</div> -->
	<input type="hidden" id="activityInitiateUserId" value="1">
	<div>
	<table border="0" cellspacing="15" cellpadding="0" class="information">
		<tr>
			<td class="activity_inf">活动名称：&nbsp;</td>
			<td colspan="2">
				<input id="activityName" name="activityName" type="text" />
				<em id="activityNameNull">请输入活动名称</em>
			</td>
		</tr>
		<tr>
			<td class="activity_inf">活动规则：&nbsp;</td>
			<td colspan="2">
				<textarea  id="activityRuleName" name="activityRuleName" cols="39" rows="6"></textarea>
				<em id="activityRuleNameNull">请输入活动规则</em>
			</td>
		</tr>
		<tr>
			<td class="activity_inf">奖励内容：&nbsp;</td>
			<td colspan="2">
				<input id="rewardContent" name="rewardContent" type="text" />
				<em id="rewardContentNull">请输入奖励内容</em>
			</td>
		</tr>
		<tr>
			<td class="activity_inf">奖品领取方式：</td>
			<td colspan="2">
				<input id="receivingWayName" name="receivingWayName" type="text" />
				<em id="receivingWayNameNull">请输入领奖方式</em>
			</td>
		</tr>
		<tr>
			<td class="activity_inf">活动时间：</td>
			<td colspan="2">
				<input id="startTime" name="startTime" type="text" onclick="getTime('startTime')"/>
				<em id="startTimeNull">请选择开始时间</em>
				<em id="startTimeErro">请选择正确的开始时间</em>
				<em id="startTimeDa">请选择大于当前的时间</em>
				<span> - </span>
				<input id="endTime" name="endTime" type="text" onclick="getTime('endTime')"/>
				<em id="startTimeNull">请选择结束时间</em>
				<em id="endTimeErro">请选择正确的结束时间</em>
			</td>
		</tr>
		<tr>
			<td class="activity_inf">消息发布者：&nbsp;</td>
			<td colspan="2">
				<input id="userName" name="userName" type="text"  value="" readonly="readonly"/>
			</td>
		</tr>
		<tr>
			<td class="activity_inf">联系电话：&nbsp;</td>
			<td colspan="2">
				<input id="phoneNum" name="phoneNum" type="text" value="" readonly="readonly"/>
				<em id="phoneNumNull">请输入正确的手机号码</em>
			</td>
			
		</tr>
		<tr>
			<td class="activity_inf">友情温馨提示：&nbsp;</td>
			<td  class="activity_inf">
				<span style="color: red;" >本着对个人负责的态度，请认真填写相关信息！</span>	
			</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<span>
					<input id="sub" type="button" value="提交申请" onclick="sub()"/>
				</span>
			</td>
			<td>
			</td>
		</tr>
	</table>
	</div>
<script type="text/javascript">
//获取ID
 var activityInitiateUserId =  $("#activityInitiateUserId").val();
//根据用户id查询用户信息
 getUserById(activityInitiateUserId);
//获取开始日期
	getTime("startTime");
//获取结束日期
	getTime("endTime");
</script>
	
</body>
</html>