<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>信息审核</title>
<script src="../../js/jquery-1.12.3.min.js"></script>
</head>
<body>
<!-- <div>待审核信息列表</div> -->

  <div align="center" id="divData">
 <table border="1" cellspacing="0" cellpadding="0" >
	 <tbody id='tbody'>
		 <!-- 循环开始 -->
		 <tr>
			 <td colspan='5'>
			 	<p><span>申请时间：</span></p>
			 	<p><span>活动名称：</span></p>
			 	<p><span>活动规则：</span></p>
			 	<p><span>奖品领取方式：</span></p>
			 	<p><span>信息发布者：</span></p>
			 	<p><span>活动时间：</span></p>
			 	<p><span>联系电话：</span></p>
			 </td>
			 <td><input type='button' value='审核通过'></td>
			 <td><input type='button' value='审核不通过'></td>
		 </tr>
		  <!-- 循环结束 -->
	  </tbody>
 </table>
 </div>
 

</body>
</html>