<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的发布</title>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.0.js"></script>
<script src="../../js/jquery-1.12.3.min.js"></script>
<script src="../../js/weixin/myPublish.js"></script>
<style type="text/css">
img{
		width: 50px;
		height: 50px;
	}
</style>
</head>
<body>
<div align="center">
		<a href="javascript:;" onClick="javascript:history.back(-1);">
			<img src="../../img/weixin_img/back.png" border="0" title="返回上一页">
		</a>
		<span>我的发布</span>
	</div>
<div align="center" id="divData">
 <table border="1" cellspacing="0" cellpadding="0" >
	 <tbody id='tbody'>
		 <!-- 循环开始 -->
		  <!-- 循环结束 -->
	  </tbody>
 </table>
 </div>

</body>
</html>