<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>时间控件</title>
    <script src="../../js/jquery-1.12.3.min.js"></script>
    <script src="../../js/mobiscroll/mobiscroll.custom-2.6.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/mobiscroll/mobiscroll.custom-2.6.2.min.css">
    </head>

<body>
      <div >
        出生日期：
         <input type="text"   id="txtBirthday" name="birthday" />
 </div>
<!-- <div class="time">
    <div style="height:54px">
        <span class="starttime">
            <div>
                <input value="" class="aui-pull-left startTime" readonly="readonly" name="appDate" placeholder="开始时间" id="appDate" type="text" style="display:inline-block;">
            </div>
        </span>
        <span class="time-middle" ><div>至</div></span>
        <span class="endtime" >
            <div>
                <input value="" class="aui-pull-left endTime" readonly="readonly" name="appDate" placeholder="结束时间" id="appDate1" type="text" style="display:inline-block;width:5rem;">
            </div>
        </span> 
    </div>
</div> -->

<script>  
/* $(function () {  
var opt = {  
        theme: "android-ics light", 
        display: 'modal', //显示方式  
        lang: "zh",  
        setText: '确定', //确认按钮名称
        cancelText: "取消",  
       dateFormat: 'yyyy-MM-dd HH:mm:ss', //返回结果格式化为年月格式  
        dateOrder: 'yyyyMMdd', //面板中日期排列格式 
        
        preset : 'datetime', //日期:年 月 日 时 分
        yearText: '年',
        monthText: '月',
        timeFormat: 'HH:ii:ss',
        dateFormat: 'yyyy-mm-dd',
        timeOrder: 'HHiiss',
        timeWheels: 'HHiiss',
        minDate: new Date(),
        endYear: (new Date()).getFullYear() + 10,
        
        onBeforeShow: function (inst) {
        //  console.info( inst.settings.wheels);
          }, 
        headerText: function (valueText) { //自定义弹出框头部格式  
        //  console.info(valueText);
            array = valueText.split('-');  
            return array[0] + "年" + array[1] + "月" + array[2] + "日" +array[3] + ":"+array[4] + ":"+array[5];  
        }  
    };

  $("#txtBirthday").mobiscroll().date(opt); 

}); */
 $('#txtBirthday').mobiscroll().datetime({
    theme: "android-ics light", //'ios',
    lang: 'zh',
    mode: 'scroller',
    setText: '确定', //确认按钮名称
    cancelText: "取消",  
    display: 'modal', //显示方式  'bottom',
    preset : 'datetime', //日期:年 月 日 时 分
    timeFormat: 'HH:ii:ss',
    dateFormat: 'yyyy-mm-dd',
    timeOrder: 'HHiiss',
    timeWheels: 'HHiiss',
    startYear: (new Date()).getFullYear(),//开始年份
    //minDate: new Date(),
    endYear: (new Date()).getFullYear() + 10,
 /*    onSelect:function(textval,inset){//点击确定按钮
        var val = new Date(textval).getTime();
        if($('#appDate').val() != ''){
            var starttime = new Date($('#appDate').val()).getTime();
            if(val < starttime){
                $('#appDate1').val('')
                api.toast({
                    msg: '结束时间不能早于开始时间',
                    duration: 2000,
                    location: 'bottom'
                });

            }
        }
    }, */
}); 

/* var currYear = (new Date()).getFullYear();
// 开始时间
$("#appDate").mobiscroll().datetime({
    preset : 'datetime',
    theme : 'android-ics light', //皮肤样式
    display : 'modal', //显示方式
    mode : 'scroller', //日期选择模式
    dateFormat : 'yy-mm-dd',
    lang : 'zh',
    showNow : true,
    nowText : "今天",
    startYear : currYear - 10, //开始年份
    endYear : currYear + 10, //结束年份
    onSelect:function(textval,inset){//点击确定按钮
        // 转化时间戳
        var val = new Date(textval).getTime();
        // 判空
        if($('#appDate1').val() != ''){
            var endtime = new Date($('#appDate1').val()).getTime();
            if(val > endtime){
                $('#appDate').val('')
                api.toast({
                    msg: '开始时间不能晚于结束时间',
                    duration: 2000,
                    location: 'bottom'
                });

            }
        }

    },
});
$("#appDate1").mobiscroll().datetime({
    preset : 'datetime',
    theme : 'android-ics light', //皮肤样式
    display : 'modal', //显示方式
    mode : 'scroller', //日期选择模式
    dateFormat : 'yy-mm-dd',
    lang : 'zh',
    showNow : true,
    nowText : "今天",
    startYear : currYear - 10, //开始年份
    endYear : currYear + 10, //结束年份
    onSelect:function(textval,inset){//点击确定按钮
        var val = new Date(textval).getTime();
        if($('#appDate').val() != ''){
            var starttime = new Date($('#appDate').val()).getTime();
            if(val < starttime){
                $('#appDate1').val('')
                api.toast({
                    msg: '结束时间不能早于开始时间',
                    duration: 2000,
                    location: 'bottom'
                });

            }
        }

    },
}); */
</script>  
</body>
</html>