<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>查看详情</title>
</head>
<body>
<div>查看详情</div>
<script type="text/javascript">
/*$.ajax({
		  type: 'POST',
		  url: "http://localhost:8080/msgPushActivity/getActById",
		  data:{
			  activityId:activityId
			  },
		  dataType:"json",
		  success:function (data) {
			var jsonObj = JSON.stringify(data);// 转成JSON格式
			 var result = $.parseJSON(jsonObj);// 转成JSON对象
			 console.log(result);
		  }, 
		  error:function () {
	      	window.alert("查询失败");
	    }
		});*/
</script>
</body>
</html>